{% template main %}
{% liquid
  assign canvas_mode = trmnl.plugin_settings.custom_fields_values.canvas_mode | default: "false"
  assign fields = trmnl.plugin_settings.custom_fields_values.metadata_fields | default: "folder, date"

  assign has_meta = false
  if fields contains 'date' and meta.date_ts
    assign has_meta = true
  endif
  if fields contains 'camera' and meta.camera
    assign has_meta = true
  endif
  if fields contains 'exposure' and meta.exposure
    assign has_meta = true
  endif
  if fields contains 'focal' and meta.focal
    assign has_meta = true
  endif
  if fields contains 'dimensions' and meta.megapixels
    assign has_meta = true
  endif
  if fields contains 'filesize' and meta.file_size
    assign has_meta = true
  endif
  if fields contains 'filename' and meta.filename
    assign has_meta = true
  endif
  if fields contains 'folder' and meta.folder
    assign has_meta = true
  endif
  if fields contains 'gps' and meta.gps
    assign has_meta = true
  endif
  if fields contains 'count'
    assign has_meta = true
  endif
%}

<style>
  .nc-meta-overlay {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: black;
    width: auto !important;
    color: white;
    padding: 5px 20px;
    border-radius: 7px;
    z-index: 10;
  }
</style>

<div class="layout layout--stretch layout--center gap--none m--0 p--0 {{ image.bg_class }}">
  {% if image.url %}
      <img class="image image-dither {% if canvas_mode == 'true' %}image--cover{% else %}image--contain{% endif %} w--auto h--auto w--max-full h--max-full"
        {% if canvas_mode == 'true' %}style="object-position: center;"{% endif %}
        src="{{ image.url }}">

    {% if has_meta %}
      <div class="nc-meta-overlay">
          <div class="item">
            <div class="content flex flex--col gap--none">
              {% if fields contains 'filename' and meta.filename %}
                <span class="title title--small text--white">{{ meta.filename }}</span>
              {% endif %}

              {% if fields contains 'folder' and meta.folder %}
                <span class="label label--small text--white">{{ meta.folder }}</span>
              {% endif %}

              <div class="flex flex--col gap--none">
                {% if fields contains 'date' and meta.date_ts %}<span class="description text--white">{{ meta.date_ts | date: "%b %-d, %Y" }}</span>{% endif %}
                {% if fields contains 'gps' and meta.gps %}<span class="label label--small text--white">{{ meta.gps }}</span>{% endif %}
                {% if fields contains 'camera' and meta.camera %}<span class="label label--small text--white">{{ meta.camera }}</span>{% endif %}
                {% if fields contains 'exposure' and meta.exposure %}<span class="label label--small text--white">{{ meta.exposure }}</span>{% endif %}
                {% if fields contains 'focal' and meta.focal %}<span class="label label--small text--white">{{ meta.focal }}</span>{% endif %}
                {% if fields contains 'dimensions' and meta.megapixels %}<span class="label label--small text--white">{{ meta.megapixels }}</span>{% endif %}
                {% if fields contains 'filesize' and meta.file_size %}<span class="label label--small text--white">{{ meta.file_size }}</span>{% endif %}
                {% if fields contains 'count' %}
                  {% if image.seq_position %}<span class="label label--small text--white">{{ image.seq_position }} / {{ image.folder_count }}</span>
                  {% else %}<span class="label label--small text--white">{{ image.folder_count }} photos</span>{% endif %}
                {% endif %}
              </div>
            </div>
          </div>
      </div>
    {% endif %}
  {% else %}
    <div class="layout layout--col flex--center gap--small" style="align-items: center; justify-content: center; height: 100%; width: 100%;">
      <span class="label label--small">Nextcloud Image</span>
      <span class="description text--center" data-clamp="4">{{ error | default: 'No images found.' }}</span>
    </div>
  {% endif %}
</div>
{% endtemplate %}
